/* Variables */
:root {
  --background-color: #f7f7f7;
  --spot-color: white;
  --primary-color: #ff781f;
  --secondary-color: #333;
  --tertiary-color: #707070;
  --button-color-pressed: #eaeaea;
  --state-color-success: #7af286;
  --padding-page: 2rem;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Reset form elements to inherit font */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Reset button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Reset link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Set base styles for the entire app */
html {
  background: var(--background-color);
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
